//mixins
@mixin center-flex($direction: row,$main: center, $cross: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $main;
    align-items: $cross;
}
@mixin allSpace() {
    width:100%;
    height: 100%;
}

//variables
$lightColor: #f3f3f4;
$darkColor: #12130f;
$firstColor: #C8871F;

//general
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}

//main styling
section{
    height: 100%;
}
//navbar
.nav-container {
    position: fixed;
    width: 100%;
    z-index: 10;
    @include center-flex();
    background-color: $darkColor;
    // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
}
.nav-list {
    padding: 12px 0;
    @include center-flex(row, center,center);
    gap: 48px;
    a {
        color: $firstColor;
    }
}

//portada
.sect-portada {
    background-color: $lightColor;
}
//indumentaria
.sect-ind {
    background-color: $firstColor;
}
//contacto
.sect-contacto {
    background-color: $darkColor;
}
//footer
footer {
    background-color: $darkColor;
    color: $lightColor;
}

//MEDIA QUERYS

@media screen and (max-width: 900px) {
    .nav-container {
        bottom: 0;    
    }
    .nav-list {
        padding: 15px 0;
    }
}